<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Node Test</title>
  </head>
  <body>
    <h1>EJS : <%= name %></h1>
    <!-- public 폴더를 index.js에서 static 폴더로 지정했기 때문에 /public 은 생략함-->
    <div><img src="/images/a.jpg" /></div>
  </body>
</html>
